/* Solarized Light — light */
html[data-theme='solarized'][data-color-mode='light'] {
  --bg-app: #fdf6e3;
  --bg-sidebar: #eee8d5;
  --bg-panel: #fdf6e3;
  --bg-elevated: #eee8d5;
  --bg-input: #fdf6e3;
  --bg-hover: rgba(220, 212, 188, 0.533);
  --bg-popover: #fdf6e3;
  --bg-subtle: #fdf6e3;
  --border: #dcd4bc;
  --text-primary: #586e75;
  --text-secondary: #073642;
  --text-muted: #93a1a1;
  --text-on-accent: #fdf6e3;
  --accent: #586e75;
  --accent-hover: #586e75;
  --accent-subtle: #586e75;
  --success: #717558;
  --warning: #756e58;
  --danger: #755858;
  --user-bubble: #586e75;
  --assistant-bubble: #eee8d5;
  --settings-nav-active: #586e75;
  --syntax-keyword: #dc322f;
  --syntax-string: #859900;
  --syntax-comment: #93a1a1;
  --syntax-function: #268bd2;
  --syntax-number: #d33682;
  --syntax-type: #2aa198;
  --syntax-title: #073642;
  --syntax-boolean: #cb4b16;
  --syntax-attribute: #b58900;
  --syntax-constant: #268bd2;
  --syntax-tag: #268bd2;
  --syntax-property: #586e75;
  --syntax-string-escape: #2aa198;
  --syntax-string-special: #b58900;
}

/* Solarized Dark — dark */
html[data-theme='solarized'][data-color-mode='dark'] {
  --bg-app: #002b36;
  --bg-sidebar: rgba(7, 54, 66, 0.4);
  --bg-panel: #002b36;
  --bg-elevated: #073642;
  --bg-input: #002b36;
  --bg-hover: #073945;
  --bg-popover: #002b36;
  --bg-subtle: #002b36;
  --border: #103a44;
  --text-primary: #fdf6e3;
  --text-secondary: #fdf6e3;
  --text-muted: #839496;
  --text-on-accent: #fdf6e3;
  --accent: #0d667d;
  --accent-hover: #0d667d;
  --accent-subtle: rgba(13, 102, 125, 0.145);
  --success: #0d7d3f;
  --warning: #7d650d;
  --danger: #7d2f0d;
  --user-bubble: #0d667d;
  --assistant-bubble: #073642;
  --settings-nav-active: rgba(13, 102, 125, 0.145);
  --syntax-keyword: #e19773;
  --syntax-string: #76ba53;
  --syntax-comment: #9e9e9e;
  --syntax-function: #e1d797;
  --syntax-number: #e19773;
  --syntax-type: #a86d3b;
  --syntax-title: #a76d3b;
  --syntax-boolean: #e1d797;
  --syntax-attribute: #be9a52;
  --syntax-constant: #e1d797;
  --syntax-tag: #b5af9a;
  --syntax-property: #caccca;
  --syntax-string-escape: #76ba53;
  --syntax-string-special: #e1d797;
}
